 @media screen and (min-width:800px) {
   body{
    width: 100vw;
    height: 100vh;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    background-color: rgb(26, 22, 22, 1);
    color: wheat;
    
   }
   .container{
    width: 100%;
    height: 100%;
    display: flex;
   }
    nav{
        width: 15%;
        height: 100%; 
         display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        gap:50px;
        margin: 0px 2px 0px 0px;
       

    }
    li, a{
        list-style: none;
        font-size: large;
        font-weight: bold;
        text-decoration: none;
        color:  rgb(243, 174, 36);
        text-shadow:2px 2px 4px rgba(255, 255, 255, .5) ;
        writing-mode :vertical-rl;
        transform: rotate(180deg);

    }
    a:hover{
        color:white;
    }
    section{
        width: 30%;
        height: 100%; 
         display: flex;
        flex-direction: column;
        justify-content: center;  

    }
    .about{
        text-wrap: wrap;
        margin-left:2px;
    }
    .about p{
        text-align: center;
        font-size: 1rem;
    }
    .buttons{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 5%;
        margin-top: 30px;
    }
    button{
        width: 50%;
        height:20px;
        background-color: rgb(243, 174, 36);
        border-radius: 8px;
        margin-left: 10px;
        box-shadow: 2px 2px 4px rgba(243, 174, 36, .5);
    } 
    button:hover{
        background-color: aliceblue;
        box-shadow: 2px 2px 4px rgba(2, 44, 44, .5);
    }
    .pot{
        background-color: transparent;
        color: rgb(243, 174, 36);
    }
    .dp{
        width: 50%;
        margin: 0px 2px 0px 0px;
    }
    .dp img{
       width: 98%;
       transform: scaleX(-1);
       border-radius: 10px;
       box-shadow: 2px 2px 4px rgba(243, 174, 36, .5);
    }
} 

@media screen and (max-width:800px) {
    body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: rgb(26, 22, 22, 1);
    color: wheat;
    
}

    .container{
        width: 100%;
        height: 100%; 
    }

    nav{
        width: 100%;
        height:10%;  
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 5px;
       
        }  
      
        li, a{
            list-style: none;
            font-size: large;
            font-weight: bold;
            text-decoration: none;
            color:  rgb(243, 174, 36);
            text-shadow:2px 2px 4px rgba(255, 255, 255, .5) ;
        }
        a:hover{
            color:white;
        }
        section{
            width: 100%;
            height: 55%
        }

        .about{
            width: 97.5%;
            text-wrap: wrap;
            margin-left:px;
        }
        .about p{
            text-align: center;
            font-size: 1.5rem; 
        }

        .buttons{
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            height: 11%;
            margin-top: 30px;
        }
        button{
            width: 40%;
            height:30px;
            background-color: rgb(243, 174, 36);
            border-radius: 8px;
            margin-left: 10px;
            box-shadow: 2px 2px 4px rgba(243, 174, 36, .5);
        } 
        button:hover{
            background-color: aliceblue;
            box-shadow: 2px 2px 4px rgba(2, 44, 44, .5);
        }

        .pot{
            background-color: transparent;
            color: rgb(243, 174, 36);
        }
 
        .dp img{
           width: 98%;
           height: 100%; 
           border-radius: 10px;
           box-shadow: 2px 2px 4px rgba(243, 174, 36, .5);
        }

}

@media screen and (max-width:500px) {
    body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: rgb(26, 22, 22, 1);
    color: wheat;
    
}

    .container{
        width: 100%;
        height: 100%; 
    }

    nav{
        width: 100%;
        height:10%;  
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 5px;
       
        }  
      
        li, a{
            list-style: none;
            font-size: large;
            font-weight: bold;
            text-decoration: none;
            color:  rgb(243, 174, 36);
            text-shadow:2px 2px 4px rgba(255, 255, 255, .5) ;
        }
        a:hover{
            color:white;
        }
        section{
            width: 100%;
            height: 55%
        }

        .about{
            width: 97.5%;
            text-wrap: wrap;
            margin-left:px;
        }
        .about p{
            text-align: center;
            font-size: 1.5rem; 
        }

        .buttons{
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            height: 11%;
            margin-top: 30px;
        }
        button{
            width: 40%;
            height:30px;
            background-color: rgb(243, 174, 36);
            border-radius: 8px;
            margin-left: 10px;
            box-shadow: 2px 2px 4px rgba(243, 174, 36, .5);
        } 
        button:hover{
            background-color: aliceblue;
            box-shadow: 2px 2px 4px rgba(2, 44, 44, .5);
        }

        .pot{
            background-color: transparent;
            color: rgb(243, 174, 36);
        }
 
        .dp img{
           width: 98%;
           height: 100%; 
           border-radius: 10px;
           box-shadow: 2px 2px 4px rgba(243, 174, 36, .5);
        }
    }